{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if my_task_list.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for my_task in my_task_list %}
                            <tr>
                                <td>
                                {{ my_task.name }} </a>
                            </td>
                            <td>{{ my_task.start_date }}</td>
                            <td>{{ my_task.due_date }}</td>
                            <td>{{ my_task.iscompleted|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
